.nav-container {
	inset: 0 0 auto 0;
	position: fixed;
	z-index: 11;
	width: 100%;
}

.navbar {
	justify-content: space-between;
	font-family: "Cagile";
	align-items: center;
	padding: 2rem 5%;
	color: white;
	display: flex;
}

.navbar-logo {
	letter-spacing: 0.35em;
	font-weight: 600;
	font-size: 18px;
}

.navbar-links {
	transition: all 0.35s ease;
	align-items: center;
	list-style: none;
	font-size: 20px;
	display: flex;
	padding: 0;
	gap: 72px;
	margin: 0;
}

.navbar-links li {
	position: relative;
	cursor: pointer;
}

.navbar-links li:not(:last-child)::after {
	transition: width 0.25s ease;
	background: white;
	position: absolute;
	bottom: -6px;
	content: "";
	height: 2px;
	width: 0%;
	left: 0;
}

.navbar-links li:hover::after {
	width: 100%;
}

.btn {
	transition: all 0.25s ease;
	border: 2px solid white;
	background: transparent;
	font-family: "Cagile";
	align-items: center;
	padding: 14px 28px;
	border-radius: 2px;
	font-size: 16px;
	cursor: pointer;
	color: white;
	display: flex;
	gap: 10px;
}

.btn:hover {
	background: white;
	color: black;
}

.twitch-icon {
	position: relative;
	height: 22px;
	width: 22px;
}

.twitch-icon .icon {
	transition: opacity 0.25s ease;
	position: absolute;
	height: 22px;
	width: 22px;
	inset: 0;
}

.twitch-icon .black {
	opacity: 0;
}

.btn:hover .white {
	opacity: 0;
}

.btn:hover .black {
	opacity: 1;
}

.hamburger {
	flex-direction: column;
	cursor: pointer;
	display: none;
	gap: 6px;
}

.hamburger span {
	transition: all 0.3s ease;
	background: white;
	width: 26px;
	height: 2px;
}

.hamburger.open span:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
	opacity: 0;
}

.hamburger.open span:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 1024px) {
	.navbar-links {
		font-size: 18px;
		gap: 40px;
	}
}

@media (max-width: 768px) {
	.hamburger {
		display: flex;
	}

	.navbar-links {
		background: rgba(0, 0, 0, 0.9);
		transform: translateX(100%);
		flex-direction: column;
		pointer-events: none;
		position: absolute;
		height: 100vh;
		padding: 2rem;
		opacity: 0;
		top: 100%;
		gap: 32px;
		right: 0;
	}

	.navbar-links.active {
		transform: translateX(0);
		pointer-events: auto;
		opacity: 1;
	}
}