@font-face {
  font-family: "Cagile";
  src: url("./assets/Cagile.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Cagile", system-ui, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("bg.png") center / cover no-repeat;
}
